<div class="center" style="width: 100% !important ; height: 100% !important; min-width: 120px; min-height: 200px;   padding-bottom: 150px; background: white; ">

    <div style="width: 80%; max-width: 1200px;">

        <div style="display: flex; max-height: 35px; flex: 3; justify-content: space-between; min-width: 350px; margin-top: 10px; padding: 0px 8px 0px 5px;">
            <span class="p-input-icon-left custom" style=" flex:1;">
                    <i class="pi pi-search"></i>
                    <input type="text"  [style]="{'width':'100%'}"  pInputText [(ngModel)]="search" placeholder=" {{general.getText( { en : 'Search', es : 'Buscar' } )}}">         
            </span>
            <button pButton pRipple type="button" (click)="buscar()" class="p-button-rounded p-button-success  " style="  font-weight: 900; color: white; border: none ; margin-left: 20px; background: #fec456;"> 
                    <p style="padding: 0; padding-left: 10px; margin: 0; margin-right: 10px;"> {{general.getText( { en : 'Search', es : 'Buscar' } )}}</p>
                </button>
        </div>
        <br>
        <div style="height: 350px; display: flex; justify-content: center; align-items: center;width: 100%;" *ngIf="individual.buscandoPresentations">
            <p-progressSpinner></p-progressSpinner>
        </div>
        <div *ngIf="!individual.buscandoPresentations" style=" width: 100%; display: flex; justify-content: center; ">
            <ng-container *ngIf="individual.presentations">
                <div style=" width: 100%; display: flex; justify-content: center; min-height: 500px;" *ngIf=" individual.presentations.data.length > 0">
                    <div style="flex: 2;  display: flex; flex-direction: column; ">
                        <span class="left" style=" width: 100% !important;  display: flex; align-items: center;  border-left: 2px dashed  #fec456; border-top:  2px dashed  #fec456; border-bottom: 2px dashed  #fec456; ">
                        <h1 class="title" style="color: #fec456;" >{{general.getText( { es : 'Fecha', en : 'Date' } )}}</h1>
                    </span>
                        <span *ngFor="let data of individual.presentations.data; index as i " [style.background]=" i % 2 == 0 ? 'white' : '#f2f2f2' " style=" width: 100% !important;  background:#f2f2f2; height: 60px; display: flex; align-items: center; margin-top: 20px;  border-radius: 30px 0px 0px 30px / 50% 0px 0px 50%; ">
                        <h1 class="event" >{{general.getFecha(data.updated_at)}} </h1>
                    </span>
                    </div>
                    <div style="flex: 4;  display: flex; align-items: center; position: relative;  flex-direction: column; ">
                        <span style="position: absolute; height: 100%; left: 0;  border-left: 2px dashed #fec456 ;  background: transparent;  z-index: 2; "> </span>
                        <span style="position: absolute; height: 100%; right: 0;  border-left: 2px dashed #fec456 ;  background: transparent;  z-index: 2; "> </span>
                        <span style="width: 100%;  display: flex; align-items: center;  background: white;  border-top:  2px dashed  #fec456; border-bottom: 2px dashed  #fec456;  z-index: 2;">
                            <h1 class="title" style="color: #fec456;" >{{general.getText( { en : 'Title', es : 'Titulo' } )}}</h1>
                        </span>
                        <span *ngFor="let event of individual.presentations.data;index as i " [style.background]=" i % 2 == 0 ? 'white' : '#f2f2f2' " style=" width: 100%; background:#f2f2f2; display: flex; align-items: center;  height: 60px; margin-top: 20px;">
                            <h1 class="event" >{{event.title}}</h1>
                        </span>
                    </div>
                    <div class="hiddenColumn" style="flex: 4;  display: flex; align-items: center; position: relative;  flex-direction: column; ">
                        <span style="position: absolute; height: 100%; right: 0;  border-left: 2px dashed #fec456 ;  background: transparent;  z-index: 2; "> </span>
                        <span style="width: 100%;  display: flex; align-items: center;  background: white;  border-top:  2px dashed  #fec456; border-bottom: 2px dashed  #fec456;  z-index: 2;">
                            <h1 class="title" style="color: #fec456;" >{{general.getText( { en : 'Description', es : 'Descripción' } )}}</h1>
                        </span>
                        <span *ngFor="let event of individual.presentations.data;index as i " [style.background]=" i % 2 == 0 ? 'white' : '#f2f2f2' " style=" width: 100%; background:#f2f2f2; display: flex; align-items: center;  height: 60px; margin-top: 20px;">
                            <h1 class="event" >{{event.description.substr(0,60)}} ...</h1>
                        </span>
                    </div>
                    <div style="flex: 1;  display: flex; flex-direction: column; ">

                        <span class="right" style="width: 100%;   display: flex; align-items: center;  border-right: 2px dashed  #fec456; border-top:  2px dashed  #fec456; border-bottom: 2px dashed  #fec456; ">
                            <h1 class="title" style="color: #fec456; padding-left: 10px; padding-right: 10px;  " >{{general.getText( { en : 'Actions', es : 'Acciones' } )}}</h1>
                        </span>
                        <span *ngFor="let data  of individual.presentations.data; index as i " [style.background]=" i % 2 == 0 ? 'white' : '#f2f2f2' " style=" padding:10px; width: 100%; height: 60px;background:#f2f2f2 ;  display: flex; align-items: center;  justify-content: center;  border-radius: 0px 30px 30px 0px / 0% 50% 50% 0%; margin-top: 20px;">     
                            <button  pButton pRipple type="button" (click)="descargar( data.id,data.title )"  class="p-button-rounded p-button-success  btn" style=" font-weight: 900; color: #28ba9b; border: none;  background: none;"> <span style="margin-right: 10px;" ><img src="assets/icons/descarga.svg" style="width: 17px;" alt=""></span>
                        <p style="padding: 0; margin: 0; margin-right: 10px;font-weight: 600;"> {{general.getText( { en : 'Download', es : 'Descargar' } )}}</p>
                        </button>
                        </span>

                    </div>
                </div>
                <div *ngIf=" individual.presentations.data.length == 0" style="height: 300px; display: flex; justify-content: center; align-items: center;">
                    <p>No Data</p>
                </div>
            </ng-container>
        </div>
        <div class="paginacion" style=" margin-top: 20px;  border-radius: 20px / 50% ;  background: #28ba9b; height: 40px; display: flex; justify-content: center; overflow: hidden;   ">
            <ng-container *ngIf=" individual.presentations">
                <ng-container *ngFor="let pagina of  individual.presentations.meta.links ; index as i ">
                    <a class="ripple" *ngIf="i == 0 " (click)="individual.getPresentations(pagina.url, true)" style=" flex: 1; min-width: 20px; color: white;   padding: 5px; text-decoration: none; display: flex; justify-content: center; align-items: center; ">
                        <img src="assets/icons/chevron-back-outline.svg" class="flecha" alt="">
                    </a>
                    <a class="ripple" *ngIf="i > 0  && i < (  individual.presentations.meta.links.length - 1) " (click)="individual.getPresentations(pagina.url, true)" [ngClass]=" { 'ripple' : true , 'paginaselect' : pagina.active ? true : false } " style=" min-width: 20px; flex: 1;  color: white; padding: 5px; text-decoration: none; display: flex; justify-content: center; align-items: center; ">
                        <p class="paginationText">
                            {{pagina.label}}
                        </p>
                    </a>

                    <a class="ripple" *ngIf=" i ==  (  individual.presentations.meta.links.length - 1 ) " (click)="individual.getPresentations(pagina.url, true)" style="  flex: 1; min-width: 20px; color: white; padding: 5px; text-decoration: none; display: flex; justify-content: center; align-items: center; ">
                        <img src="assets/icons/chevron-forward-outline.svg" class="flecha" alt="">
                    </a>
                </ng-container>
            </ng-container>
        </div>
        <!--
        <div class="paginacion" style=" margin-top: 20px;  border-radius: 20px / 50% ;  background: #28ba9b; height: 40px; display: flex; justify-content: center; ">
            <ng-container *ngIf=" individual.presentations">
                <ng-container *ngFor="let pagina of  individual.presentations.meta.links ; index as i ">
                    <a class="ripple" *ngIf="i == 0 " (click)="individual.getPresentations(pagina.url, true)" style="  width: 30px; color: white;   padding: 5px; text-decoration: none; display: flex; justify-content: center; align-items: center; ">
                        <img src="assets/icons/chevron-back-outline.svg" style="width: 20px; margin-top: 1px;" alt="">
                    </a>
                    <a class="ripple" *ngIf="i > 0  && i < (  individual.presentations.meta.links.length - 1) && ( i >= (  individual.presentations.meta.current_page -2)  ||  i >(  individual.presentations.meta.links.length -6)  )  && (i <= ( individual.presentations.meta.current_page +2) ||  i < 6   ) "
                        (click)="individual.getPresentations(pagina.url, true)" [ngClass]=" { 'ripple' : true , 'paginaselect' : pagina.active ? true : false } " style=" width: 30px;  color: white; padding: 5px; text-decoration: none; display: flex; justify-content: center; align-items: center; ">
                        <p style=" font-size: 20px; padding: 0; margin: 0;">
                            {{pagina.label}}
                        </p>
                    </a>
                    <a class="ripple" *ngIf=" i ==  (  individual.presentations.meta.links.length - 1 ) " (click)="individual.getPresentations(pagina.url, true)" style=" width: 30px; color: white; padding: 5px; text-decoration: none; display: flex; justify-content: center; align-items: center; ">
                        <img src="assets/icons/chevron-forward-outline.svg" style="width: 20px; margin-top: 1px;" alt="">
                    </a>
                </ng-container>
            </ng-container>
        </div>-->

    </div>

</div>