<div class="fondo" style="width: 100%; top: 0; height: 100%; position: relative; display: flex; overflow-x: hidden; flex-direction: column; justify-content: center; align-items: center;">
    <div class="login" style="min-height: 20px; display: flex; justify-content: center; align-items: center; width: 100%;">
        <div class="center" style=" align-items: center; flex-direction: column; max-width: 1200px; width: 90%;">
            <div style="flex: 1; min-width: 300px; display: flex; justify-content: flex-end; width: 100%;">
                <div>
                    <span id="idiomaHeader5" class="ripple icon " style="margin-left: 15px; ">
                        <img src="../assets/icons/lgdark.svg " style="width: 20px; ">
                        <img  src="../assets/icons/down-dark.svg " style=" margin-left: 5px; color: white; width: 20px; ">
                    </span>
                    <globo-select [active]="'idiomaHeader5'" (clicked)="   general.lenguage.next(general.idioma());" [items]="general.idiomas"></globo-select>
                </div>
            </div>
            <div style="flex: 1; display: flex; flex-direction: column; padding-top: 50px; padding-bottom: 50px ;  width: 100%; " class="center">
                <img src="assets/icons/globoG.svg" style="max-width: 150px;" alt="">
                <br>
                <h1 class="title" style="text-align: center;"> {{general.getText({ es : "Hagámoslo juntos", en:"Let´s do it together"})}} </h1>
                <br><br>
                <div style="max-width: 400px; width: 100%; display: flex; justify-content: space-around; flex-direction: column; align-items: center; min-height: 270px; background: white; border-radius: 20px; box-shadow: 0px 10px 27px 8px rgba(0,0,0,0.36);">
                    <br>
                    <h1 class="title" style="text-align: center; font-size: medium;"> {{general.getText({ es : "Cambio de Contraseña", en:"Change of Password"})}}</h1><br>
                    <form [formGroup]="reset" style="width: 90%; display: flex; flex-direction: column; justify-content: space-around; height: 100%; ">


                        <div>
                            <div style="display: flex;  ">
                                <img src="assets/icons/candado.svg" style="width: 20px; padding: 3px; margin-right: 5px; padding-bottom: 10px;" alt="">
                                <div style="padding: none; flex: 1; display: flex;" [ngClass]="status( 'pass' , passFocus )">
                                    <input (focus)="passFocus = true" formControlName="pass" style="flex: 1;" (blur)="passFocus = false" id="password" class="inputcorreo" type="password" placeholder=" {{general.getText({ es : 'Nueva Contraseña', en:'New Password'})}}">
                                    <a (click)="pass()" style="padding: 3px; margin: 0; cursor: pointer;">
                                        <img *ngIf="passType == 'password'" src="assets/icons/eye-regular.svg" style="width: 17px;" alt="">
                                        <img *ngIf="passType == 'text'" src="assets/icons/eye-slash-regular.svg" style="width: 17px;" alt="">
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div style="display: flex;  ">
                                <img src="assets/icons/candado.svg" style="width: 20px; padding: 3px; margin-right: 5px; padding-bottom: 10px;" alt="">
                                <div style="padding: none; flex: 1; display: flex;" [ngClass]="status( 'confirm' , passFocus2 )">
                                    <input (focus)="passFocus2 = true" style="flex: 1;" formControlName="confirm" (blur)="passFocus2 = false" id="confirm" class="inputcorreo" type="password" placeholder=" {{general.getText({ es : 'Confirmar Contraseña', en:'Confirm Password'})}}">
                                    <a (click)="confirm()" style="padding: 3px; margin: 0; cursor: pointer;">
                                        <img *ngIf="tipo == 'password'" src="assets/icons/eye-regular.svg" style="width: 17px;" alt="">
                                        <img *ngIf="tipo == 'text'" src="assets/icons/eye-slash-regular.svg" style="width: 17px;" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <button (click)="cambiar()" [disabled]="!reset.valid" pButton pRipple type="button" class="p-button-rounded p-button-success" style="  padding-left: 20px; padding-right: 20px; font-weight: 900; color: white; border: none ; font-family: light !important; background: #28ba9b; text-align: center; display: flex; justify-content: center;">
                        {{general.getText({ es : "Guardar contraseña", en:"Save Password"})}}
                    </button>
                    <br>
                </div>
            </div>

        </div>
    </div>
    <div class="loginFotter">
        <p class="textLogin" style="text-align: center;">
            <a style="color: white;">
                Terms & Conditions
            </a> and
            <a style="color: white;"> Privacy Policy </a>
        </p>
        <img src="assets/icons/globoPw.svg" style="width: 200px;" alt="">

    </div>
</div>