.link_lp
    line-height: 1.15
    color: #28ba9b
    margin-top: 15px
.indice_lista_lp li
    margin-top: 10px
.color_green
    color: #28ba9b
.color_amarillo
    color: #fec456
.table_lp tr
    border: 1px solid #dbdbdb
.table_lp tr td
    border: 1px solid #dbdbdb
    padding: .5rem
.border-top-0
    border-top:0px !important
.border-left-0
    border-left:0px !important
.border-right-0
    border-right:0px !important
.border-bottom-0
    border-bottom:0px !important
.anexo_header_tb
    margin: 1.5rem   
.legal
    line-height: 1.15
    -webkit-text-size-adjust: 100%
    font-family: "Gotham","Arial","Helvetica Neue",Helvetica,sans-serif
    font-weight: 300
    font-size: 14px
    color: #4a4a4a
    -webkit-font-smoothing: antialiased
    -webkit-tap-highlight-color: transparent
    word-wrap: break-word
    padding: 0 15px
.legal_content
    line-height: 1.15
    -webkit-text-size-adjust: 100%
    font-family: "Gotham","Arial","Helvetica Neue",Helvetica,sans-serif
    font-weight: 300
    font-size: 14px
    color: #4a4a4a
    -webkit-font-smoothing: antialiased
    -webkit-tap-highlight-color: transparent
    word-wrap: break-word
.legal-wrapper
    line-height: 1.15
    -webkit-text-size-adjust: 100%
    font-family: "Gotham","Arial","Helvetica Neue",Helvetica,sans-serif
    font-weight: 300
    font-size: 14px
    color: #4a4a4a
    -webkit-font-smoothing: antialiased
    -webkit-tap-highlight-color: transparent
    word-wrap: break-word
table
    width: 100%
    border-collapse: collapse

@media screen and ( max-width: 700px )
    .colapserow
        td, tr
            display: block

